.mob-menu {
  display: none;
}

@media (max-width: $lg) {
  .mob-menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    top: 0;
    transform: translateX(-100%);
    background-color: $white;
    position: fixed;
    z-index: 201;
    transition: transform 0.5s;
    overflow-y: scroll;

    &.active {
      transform: translateX(0%);
      overflow-y: scroll;
    }

    &::-webkit-scrollbar {
      width: 4px;
      background-color: $white;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: #C4C4C4;
    }

    .btn__close::before {
      top: -65px;
      left: 256px;
    }

    &__profile {
      display: flex;
      background-color: #63A60E;
      align-items: center;
      height: 48px;
    }

    &__login {
      font-size: 18px;
      line-height: 1.0;
      color: $white;
    }

    &__login--slash {
      position: relative;
      padding-right: 20px;
      margin-right: 19px;

      &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 18px;
        background-color: $white;
        left: 62px;
        top: 2px;
      }
    }

    .header-bottom__filter {
      display: none;
    }

    .header-bottom__btn {
      display: inherit;
      color: $dark-800;
      font-size: 18px;
      padding: 13px 15px 34px 53px;
      margin: 0;
      height: 42px;

      &::before {
        background-image: url('../images/icons/nav_icon-black.svg');
        top: 15px;
        left: 12px;
      }

      &::after {
        display: none;
      }

      &:hover {
        background-color: $white;
        border-radius: 0;
      }

      &:focus {
        outline: 0;
      }

      &.transform {
        background-color: $white;
        border-radius: 0;
      }
    }

    &__contact {
      display: flex;
      flex-direction: column;
      padding: 24px 15px 14px;
      border-top: 1px solid rgba(193, 193, 193, 0.3);
      font-size: normal;
    }

    &__info {
      font-size: 18px;
      line-height: 1.2;
      color: $dark-800;
      position: relative;
      padding-left: 39px;
      margin-bottom: 5px;

      &::after {
        content: '';
        position: absolute;
        width: 24px;
        left: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      &--tell {
        margin-bottom: 18px;
      }

      &--tell::after {
        background-image: url('../images/icons/icon-tel-black.svg');
        height: 24px;
        top: -2px;
      }

      &--address::after {
        background-image: url('../images/icons/group.svg');
        height: 32px;
        top: 5px;
      }
    }

    &__social {
      display: flex;
      padding: 0 14px 20px;
      border-bottom: 1px solid rgba(193, 193, 193, 0.3);
    }

    &__social-list:not(:last-child) {
      margin-right: 11px;
    }

    &__social-link {
      transition: opacity 0.5s;
      width: 32px;
      height: 32px;

      svg use {
        fill: $dark-800;
      }

      &:hover {
        opacity: 0.5;
      }

      &:focus {
        outline: 3px solid #E0EDCF;
        border-radius: 3px;
      }

      &:active svg use {
        fill: $green-900;
      }
    }

    &__list {
      padding: 24px 15px;
    }

    &__item:not(:last-child) {
      margin-bottom: 15px;
    }

    &__link {
      font-size: 18px;
      line-height: 1.2;
      text-transform: capitalize;
      color: #31352B;
    }

    .header-bottom__user-link {
      width: 30px;
      height: 43px;
      margin: 0 13px;

      svg {
        width: 25px;
        height: 28px;
      }

      use {
        width: 25px;
        height: 28px;
      }

      &::focus {
        outline: none;
      }
    }

    .header-bottom__filter {
      transform: translate(-85px, 73px);
    }
  }

  .logo-green {
    display: inline-block;
    margin: 23px 17px;
  }
}