.product-item.product-item--mini {
  height: 124px;
  position: relative;
  background-color: $white;

  .product-item__top {
    height: 0;
  }

  .product-item__img-box {
    width: 100px;
    height: 100px;
    position: relative;
  }

  .product-item__img-link {
    overflow: visible;
    width: 112px;
    height: 120px;

    &::before,
    &::after {
      display: none;
    }
  }

  .product-item__images {
    position: absolute;
    top: 12px;
    left: 11px;
  }

  .product-item__span {
    top: 10px;
  }

  .product-item__heart {
    display: none;
  }

  .product-item__top {
    z-index: 1;
  }

  .product-item__title {
    position: absolute;
    top: 12px;
    left: -1px;
    transform: translateX(111px);
    width: 187px;
    padding: 0 12px;
  }

  .product-item__status {
    position: absolute;
    transform: translate(-16px, -29px);
    text-transform: uppercase;
    @extend %opensans-600;
    font-size: 10px;
    line-height: 1;
    color: $green-900;
  }

  .product-item__status-ends {
    color: $red-900;
  }

  .product-item__status-no {
    color: $silver-600;
  }

  .product-item__price {
    position: absolute;
    right: 0;
    left: 103px;
    bottom: 0;
  }

  .product-item__price-all {
    display: flex;
    align-items: baseline;
  }

  .product-item__new-price {
    @extend %opensans-600;
    font-size: 20px;
  }

  .product-item__old-price {
    font-size: 12px;
  }

  .product-item__rub-new {
    font-size: 14px;
    margin-right: 12px;
  }

  .product-item__cart {
    display: none;
  }

  .product-item__new-price {
    order: -1;
  }

  .product-item__rating {
    position: relative;
    left: 106px;
    bottom: 11px;
    @extend %opensans-700;
    line-height: 1;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/promotions/star.png');
      width: 16px;
      height: 16px;
      left: 23px;
      bottom: 0;
      @extend %bg-img;
    }
  }

  .btn-show__mini {
    background-color: $green-900;
  }
}




@media (max-width: $xxl) {
  .product-item.product-item--mini {
    .product__items {
      grid-gap: 15px;
    }

    .product-item__title {
      width: 164px;
    }
  }
}

@media (max-width: $xl) {
  .product-item.product-item--mini {
    .product__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: $lg) {
  .product-item.product-item--mini {
    .product-item__title {
      width: 190px;
    }
  }
}

@media (max-width: $md) {
  .product-item.product-item--mini {
    .product-item__price {
      left: 114px;
    }

    .product-item__images {
      top: 0;
    }
  }
}