.product-page {
  padding: 48px 0 53px;
}

.product-one {
  &__inner {
    display: flex;
  }

  &__slide {
    margin-bottom: 63px;
  }
}

.product-slide {
  max-width: 630px;
  width: 100%;
  border: 1px solid $silver-600;
  margin-right: 30px;

  &__img {
    display: inline-block;
    object-fit: cover;
  }

  &__item {
    height: 558px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 68px 20px;
    height: 558px;
  }
}

.product-content {
  max-width: 630px;
  width: 100%;
  line-height: 1.2;

  &__title--adaptive {
    display: none;
  }

  &__title {
    @extend %ruda-600;
    font-size: 32px;
    color: $dark-900;
    margin-bottom: 18px;
    padding-top: 20px;
    letter-spacing: 0.03em;
    line-height: 1.2;
  }

  &__badge {
    display: inline-block;
    @extend %opensans-700;
    font-size: 16px;
    line-height: 1.0;
    color: $white;
    text-transform: uppercase;
    background-color: $orange-900;
    padding: 6px 9px;
    border-radius: 6px;
    margin-bottom: 18px;
  }

  &__box {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    align-items: center;
  }

  &__star {
    margin-right: 100px;
  }

  &__code {
    color: $silver-600;
    background-color: $silver-100;
    border-radius: 3px;
    padding: 4px 5px;
    margin-right: 8px;
  }

  &__status {
    @extend %opensans-600;
    font-size: 16px;
    line-height: 1.0;
    color: $green-900;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: 0;
  }

  &__price {
    @extend %opensans-700;
    line-height: 1.0;
    margin-bottom: 59px;
  }

  &__old-price {
    font-size: 20px;
    color: $silver-600;
    text-decoration: line-through;
    margin-right: 18px;
  }

  &__new-price {
    font-size: 30px;
    color: $green-900;
  }

  &__btn {
    @extend %opensans-600;
    @extend %none-btn;
    font-size: 16px;
    line-height: 1.0;
    letter-spacing: 0.03em;
    color: $white;
    text-transform: uppercase;
    background-color: $green-900;
    border-radius: 3px;
    padding: 14px 12px;
    padding-left: 50px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.5s;

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/cart-product-page.svg');
      top: 10px;
      left: 12px;
      width: 24px;
      height: 24px;
    }

    &:hover {
      background-color: #4D810C;
    }

    &:focus {
      outline: 4px solid #E0EDCF;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__btn-adaptive {
    display: none;
  }

  &__form {
    position: relative;
    display: flex;
    margin-bottom: 32px;
  }

  &__num {
    margin-right: 18px;
  }

  &__heart {
    @extend %none-btn;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;

    &:hover svg use {
      fill: #FFB800;
    }

    &:focus {
      outline: 3px solid #E0EDCF;
      border-radius: 3px;
    }

    &:active svg use {
      fill: rgba(255, 184, 0, 0.5);
    }
  }

  &__heart svg use {
    fill: $silver-600;
  }

  &__subtitle {
    @extend %ruda-600;
    font-size: 18px;
    color: $dark-900;
    letter-spacing: 0.03em;
    padding-bottom: 19px;
    border-bottom: 1px solid $silver-600;
    margin-bottom: 18px;
  }

  &__subtext {
    line-height: 1.6;
    color: $dark-500;
    max-width: 470px;
    margin-bottom: 14px;
  }

  &__more {
    display: inline-block;
    color: $green-900;

    &:hover {
      text-decoration-line: underline;
    }

    &:focus {
      outline: 4px solid #E0EDCF;
      border-radius: 3px;
    }

    &:active {
      color: #4D800C;
    }
  }
}

.jq-number {
  padding: 0;
}

.jq-number__field input {
  text-align: center;
  width: 100%;
  padding: 11px 17px;
  border: none;
  @extend %opensans-400;
  font-size: 20px;
  color: $dark-500;

  &:focus {
    outline: 4px solid #E0EDCF;
  }
}

.jq-number__field {
  width: 158px;
  border: none;
  box-shadow: none;
  background-color: rgba(99, 166, 14, 0.1);
  line-height: 1.0;

}

.jq-number__spin {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 44px;
  height: 44px;
  border-radius: 0px 3px 3px 0px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  background-color: $green-900;
  transition: all 0.5s;
}

.jq-number__spin::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 7px;
  width: 30px;
  height: 2px;
  background-color: $white;
  border: none;
}

.jq-number__spin:hover {
  background: none;
  background-color: #4D800C;
}

.jq-number__spin.minus {
  top: 50%;
  left: 0;
  border-radius: 3px 0px 0px 3px;
}

.jq-number__spin.minus::after {
  top: inherit;
  border: none;
}

.jq-number__spin.plus::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 21px;
  width: 2px;
  height: 30px;
  background-color: $white;
}

.product-tabs {
  border-top: 1px solid $silver-600;
  padding-top: 19px;

  &__container {
    max-width: 804px;
    width: 100%;
    margin: 0 auto;
  }

  &__top {
    display: flex;
    justify-content: space-around;
    margin-bottom: 48px;
  }

  &__top-item {
    @extend %ruda-600;
    font-size: 18px;
    line-height: 24px;
    color: $dark-900;
    text-transform: uppercase;

    &:focus {
      outline: 4px solid #E0EDCF;
    }

  }

  &__top-item--active {
    color: $green-900;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      top: -19px;
      left: 0;
      background-color: $green-900;
    }
  }

  &__content-item {
    display: none;

    &.product-tabs__content-item--active {
      display: block;
    }
  }

  &__content-description {
    max-width: 690px;
    width: 100%;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0;
    color: #4F4F4F;
    margin-left: 57px;

    p {
      padding-bottom: 28px;
    }
  }

  &__info {
    display: flex;
    font-size: 16px;
    line-height: 1.6;
    color: $dark-500;
    letter-spacing: 0;
  }

  &__subtitle {
    @extend %opensans-700;
    margin-right: 5px;
  }

  &__characteristic {
    margin-left: 42px;
  }

  &__info {
    margin-bottom: 10px;
  }

  &__content-wrapper {
    margin-left: 35px;
  }

  &__content-title {
    @extend %ruda-600;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $dark-900;
    margin-bottom: 47px;
  }

}

.related-product {
  padding-bottom: 46px;

  &__title {
    @extend %ruda-600;
    font-size: 30px;
    line-height: 1.2;
    color: #000000;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 60px;
  }

  &__container {
    max-width: 1323px;
    width: 100%;
  }

  .product-item {
    &__info {
      display: flex;
      position: relative;
      justify-content: space-between;
      padding: 1px 17px 6px 15px;
    }

    &__status {
      text-transform: uppercase;
      font-size: 10px;
      line-height: 1;
      color: #63a60e;
    }

    &__status-end {
      color: $red-900;
    }

    &__rating {
      position: relative;
      padding-right: 19px;
      line-height: 1;

      &::before {
        content: "";
        position: absolute;
        background-image: url('../images/promotions/star.png');
        width: 16px;
        height: 16px;
        left: 23px;
        bottom: 0;
      }
    }

    &__title {
      transform: translateY(0);
    }

    &__price {
      padding: 0px 18px 11px 19px;
    }

    &__img-box {
      margin-bottom: -1px;
    }

    &__old-price {
      margin-left: 0;
    }
  }

  .product-item__price {
    padding: 10px 18px 11px 19px;
  }

  .slick-arrow {
    position: absolute;
    top: -104px;
    right: 91px;
    cursor: pointer;
  }

  .slick-next-three {
    right: 0px;
  }
}

.comments {
  &__content {
    margin-bottom: 24px;
    letter-spacing: 0;

    &:not(:last-child) {
      padding-bottom: 24px;
      border-bottom: 1px solid $silver-600;
    }
  }

  &__content-top {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
  }

  &__content-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 26px;
  }

  &__content-name {
    @extend %opensans-700;
    line-height: 19px;
    color: $dark-900;
  }

  &__content-date {
    line-height: 2.1;
    color: #4F4F4F;
  }

  &__content-star {
    margin-left: auto;
    margin-right: 0;
    transform: translateX(-44px);
  }

  &__content-text {
    font-size: 16px;
    line-height: 1.6;
    color: $dark-500;
  }
}

.comments-form {
  padding: 48px 0 62px;
  position: relative;

  &__title {
    @extend %ruda-600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $dark-900;
    margin-bottom: 48px;
  }

  &__rating {
    display: flex;
  }

  &__subtitle,
  &__label {
    @extend %opensans-600;
    font-size: 16px;
    line-height: 1.3;
    color: $dark-900;
    letter-spacing: 0;
  }

  &__subtitle {
    margin-bottom: 15px;
    margin-right: 18px;
  }

  &__label {
    margin-bottom: 12px;
  }

  &__inner {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
  }

  &__messenger {
    max-width: 400px;
    margin-right: 30px;
  }

  &__textarea {
    width: 400px;
    min-height: 165px;
    resize: vertical;
    border: 1px solid $silver-600;
    border-radius: 3px;
    @extend %opensans-400;
    padding: 18px;
    font-size: 14px;
    line-height: 1.3;
    color: #C1C1C1;
    margin-right: 30px;

    &:focus {
      outline: 3px solid $green-200;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 24px;
  }

  &__label {
    display: inline-block;
    margin-bottom: 12px;
  }

  &__input {
    max-width: 260px;
    width: 100%;
    height: 54px;
    border: 1px solid $silver-600;
    border-radius: 3px;
    @extend %opensans-400;
    padding: 18px;
    font-size: 14px;
    line-height: 1.3;
    color: $silver-600;

    &:focus {
      outline: 3px solid $green-200;
    }
  }

  &__check {
    display: flex;
    padding-left: 36px;
    cursor: pointer;
    margin-bottom: 25px;
  }

  &__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 45px;
  }

  &__checkbox:checked+.comments-form__checkbox-style {
    background-image: url('../images/icons/vector-filter.svg');
    @extend %bg-img;
    background-size: auto;
  }

  &__checkbox-style {
    width: 24px;
    height: 24px;
    background-color: $white;
    border: 1px solid $silver-600;
    box-sizing: border-box;
    border-radius: 3px;
    position: absolute;
    transform: translateX(-35px);
  }

  &__checkbox-text {
    line-height: 1.3;
    color: $dark-500;
    max-width: 654px;
    width: 100%;
  }

  &__btn {
    max-width: 194px;
  }
}

.slick-arrow {
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  @extend %none-btn;

  &:hover svg path {
    fill: $green-900;
  }

  &:hover svg rect {
    fill: $green-200;
  }

  &:focus {
    outline: 3px solid rgba(99, 166, 14, 0.5);
    border-radius: 6px;
  }

  &:active svg path {
    fill: $green-900;
  }

  &:active svg rect {
    fill: #F3F3F2;
  }
}

.slick-prev-two,
.slick-next-two {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}

.slick-prev-two {
  left: 20px;
  margin-right: 22px;
}

.slick-next-two {
  right: 20px;
  margin-left: 22px;
}

.slick-disabled svg path {
  fill: #C1C1C1;
}

.slick-disabled:hover svg path {
  fill: #C1C1C1;
}

.slick-disabled:hover svg rect {
  fill: rgba(255, 255, 255);
}


.mfp-image-holder .mfp-content {
  background-color: $white;
}

.mfp-image-holder .mfp-close {
  color: rgba(0, 0, 0, 0.15);
  right: 20px;
  top: 8px;
  padding-right: 0;
  cursor: pointer;
}

.mfp-figure::after {
  box-shadow: none;
}

.mfp-container {
  padding: 54px 96px;
}

img.mfp-img {
  padding: 0;
}

.mfp-image-holder .mfp-close {
  right: 38px;
  top: 22px;
  cursor: pointer;
}

.mfp-content {
  width: 100%;
  padding: 40px 120px;
}

.mfp-figure::after {
  background-color: transparent;
}

.mfp-arrow {
  opacity: 1;
}

.mfp-arrow-right::after,
.mfp-arrow-left::after {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
}

.mfp-arrow-right::after {
  background-image: url('../images/icons/arrow-next.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  margin-left: 0;
  border-left: none;
}

.mfp-arrow-right::before {
  border: none;
  margin-left: 0;
}

.mfp-arrow-right:hover::after {
  background-color: #E0EDCF;
}

.mfp-arrow-right:focus::after {
  outline: 3px solid rgba(99, 166, 14, .5);
}

.mfp-arrow-left::after {
  background-image: url('../images/icons/arrow-prev.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  margin-right: 0;
  border-right: none;
}

.mfp-arrow-left::before {
  border: none;
  margin-right: 0;
}

.mfp-arrow-left:hover::after {
  background-color: #E0EDCF;
}

.mfp-arrow-left:focus::after {
  outline: 3px solid rgba(99, 166, 14, .5);
}

.mfp-arrow-left {
  left: 100px;
}

.mfp-arrow-right {
  right: 100px;
}

.mfp-counter {
  display: none;
}


@media (max-width: $xxl) {
  .related-product__items {
    margin-left: 45px;
  }
}


@media (max-width: $xl) {
  .product-page {
    padding: 30px 0 22px;
  }

  .product-one {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__slide {
      margin-bottom: 27px;
      margin-right: 0;
    }
  }

  .product-content {
    &__title {
      display: none;
    }

    &__title--adaptive {
      display: inline-block;
      padding-top: 0;
      text-align: center;
      margin-bottom: 30px;
    }

    &__box {
      margin-bottom: 6px;
      flex-wrap: wrap;
    }

    &__price {
      margin-bottom: 30px;
    }

    &__subtext {
      margin-bottom: 16px;
    }

    &__more {
      margin-bottom: 30px;
    }
  }

  .related-product__items {
    margin-left: 25px;
  }
}


@media (max-width: $lg) {
  .product-tabs {
    padding-top: 12px;

    &__top {
      margin-bottom: 30px;
    }

    &__top-item--active::before {
      top: -14px;
    }

    &__content-description,
    &__characteristic,
    &__content-wrapper {
      margin: 0 auto;
    }

    &__content-title {
      margin-bottom: 30px;
    }
  }

  .related-product {
    padding-bottom: 47px;

    .slick-dots {
      transform: translateY(8px);
    }

    &__title {
      margin-bottom: 30px;
    }

    &__items {
      margin-left: 60px;
    }
  }

  .comments {
    &__content-top {
      margin-bottom: 18px;
    }

    &__content:not(:last-child) {
      padding-bottom: 18px;
    }
  }

  .comments-form {
    padding: 6px 0 32px;

    &__title {
      margin-bottom: 30px;
    }
  }
}


@media (max-width: $md) {
  .product-slide {
    max-width: 345px;
    align-self: flex-start;

    &__link {
      padding: 10px 27px;
      height: 345px;
    }

    &__item {
      height: 345px;
    }
  }

  .product-content {
    &__title--adaptive {
      font-size: 26px;
    }

    &__status {
      margin-left: revert;
      margin-right: revert;
    }

    &__code,
    &__star,
    &__status {
      margin-bottom: 18px;
    }
  }

  .product-tabs {
    &__top-item {
      font-size: 14px;
    }

    &__info {
      flex-wrap: wrap;
    }
  }

  .related-product {
    &__title {
      font-size: 24px;
    }

    .product-item {
      max-width: 258px;
    }

    .product-item__status {
      font-size: 8px;
    }

    .product-item__rating {
      font-size: 10px;
    }

    .product-item__rating::before {
      width: 12px;
      height: 12px;
      background-size: cover;
    }

    .product-item__info {
      padding: 0px 12px 6px 11px;
    }

    .product-item__rating::before {
      left: 17px;
    }

    .product-item__price {
      padding: 36px 13px 10px 11px;
    }

    &__items {
      margin-left: 0;
    }
  }

  .comments-form {
    &__inner {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 18px;
    }

    &__messenger {
      max-width: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-right: 0;
      margin-bottom: 18px;
    }

    &__box {
      width: 100%;
    }

    &__input {
      max-width: 100%;
    }

    &__textarea {
      width: 100%;
    }

    &__item:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  .mfp-container {
    padding: 15px 30px;
  }

  .mfp-content {
    width: 100%;
    padding: 40px 80px;
  }

  .mfp-arrow-left {
    left: 35px;
  }

  .mfp-arrow-right {
    right: 35px;
  }
}

@media (max-width: $sm) {
  .product-content {
    &__btn {
      display: none;
    }

    &__btn-adaptive {
      display: inline-block;
      padding: 14px 25px;
    }
  }

  .product-tabs__top {
    justify-content: space-between;
  }

  .comments__content-star {
    transform: translateX(0);
  }

  .related-product {
    .product-item {
      max-width: 160px;
    }

    .product-item__price {
      padding: 54px 9px 12px 13px;
    }
  }

  .mfp-container {
    padding: 0;
  }

  .mfp-content {
    padding: 153px 0px;
  }

  .mfp-arrow-left {
    left: -15px;
  }

  .mfp-arrow-right {
    right: -15px;
  }
}